 
        #wrapper { background-color:bisque;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 2em;}
         p{
                color: blue;

                    }
        span{
                font-style: italic;
                color: green;
                font: bold;

                    }
        h1{
              color:brown;
              font: bold;
        }
